.main {
    min-width: 100px;

    background: black;
    color: white;

    display: flex;
    justify-content: space-between;

    padding: 10px 5px;

    margin: 10px 0;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions div {
    margin: 0 10px;
}

.actions button {
    margin: 0 5px;
}

.button {
    border: 0;

    background: inherit;
    color: white;
}

.button:hover {
    color: red;
}