.main {
  min-width: 100px;

  background: rgb(124, 124, 124);
  color: white;

  display: flex;
  justify-content: space-between;

  padding: 20px 25px;
  border-radius: 6px;

  margin: 40px 0;
}

.left__side {
  margin-right: 10px;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.actions div {
  margin: 0 10px;
}

.actions button {
  margin: 0 5px;
}

.button {
  border: 0;

  background: inherit;
  color: white;
}

.button:hover {
  color: red;
}
