.main {
    display: flex;
    flex-direction: column;

    width: 400px;

    background: white;
    color: black;

    border-radius: 7px;
}

@media (max-width: 1470px) {
    .main {
        width: 300px;
    }
}

@media (max-width: 960px) {
    .main {
        width: 330px;
    }
}

@media (max-width: 690px) {
    .main {
        width: 550px;
    }
}

.banner {
    width: 100% !important;
}

.banner__image {
    width: 100%;
    max-height: 250px;
    border-radius: 7px 7px 0 0;
}

.title__section {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;

    padding-bottom: 0;
}

.title__text {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
}

.title__time {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    background: #262626;
    border-radius: 2px;
    padding: 1px 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.desription__section {
    display: flex;
    justify-content: space-between;
    padding: 30px;

    padding-top: 10px;
}

.description__rate {
    background-image: url(../img/icon/rating.svg);
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 20px;
    margin-right: 26px;
    color: #ffc107;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
}

.description__pricetype {
    color: #8c8c8c;
    font-size: 18px;
    line-height: 32px;
}