input {
  border: 0;
  border: 2px #1890ff solid;
  border-radius: 10px;

  width: 250px;
  padding: 10px;
  padding-bottom: 10px;

  text-align: center;

  margin-top: 5px;
  margin-bottom: 5px;

  outline: none;
}

input::placeholder {
  color: black;
}
